.password-rules li {
  color: #737373;
}

.password-rules li::before {
  color: #737373;
  content: '\2022';
}

.password-rules li.is-invalid {
  color: #f40014;
}

.password-rules li.is-invalid::before {
  color: #f40014;
  content: '\2715';
}

.password-rules li.is-valid {
  color: #199783;
}

.password-rules li.is-valid::before {
  color: #199783;
  content: '\2713';
}
